# Node
node_modules/
dist/
*.log

# Environment
.env
.env.local

# Prisma
prisma/*.db
prisma/*.db-journal

# Source (only dist needed in production)
# src/
# tsconfig.json

# Test
coverage/
*.test.ts
